body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://previews.123rf.com/images/shoosanne/shoosanne1303/shoosanne130300002/18180105-Caricatura-lindo-diablo-Foto-de-archivo.jpg'); 
    width: 100%;
    height: 100%;
    opacity : 0.04;
    z-index: -1;

}

    h1, h2{ 
      text-align: center;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      text-decoration: underline;
      text-transform: capitalize;
      line-height: 3px
	padding-bottom: 50px;
       }
p {
  font-size: 17px;
  margin-left: 14px;
  padding-top: 12px;
  font-family: sans-serif;
}

div, footer {
    
    justify-content: space-around;

}
body {
  border-style: dotted;
    border-width: 5px;
    font-style: normal;
}

header, footer {
    background-color: rgb(240, 80, 80);
    opacity : 0.8;
    color: white;
    padding: 15px;
}

ol { 
font-weight: normal;
float: left;
 }